.profileContairner{
    display: flex;
    align-items: center;
}

.profileContairner > img{
    width: 5.5rem;
    height: 5.5rem;

    border-radius: 50%;
}

.profileContairner div{
    margin-left: 1.5rem;
}

.profileContairner div strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}


.profileContairner div p{
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContairner div p img{
    margin-right: 0.5rem;
}